logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.8.9.13224",
      "templateHash": "10980020760889059948"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "logicAppName": {
      "type": "string"
    }
  },
  "variables": {
    "$fxv#0": "{\r\n    \"$schema\": \"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#\",\r\n    \"actions\": {\r\n        \"Append_to_array_variable_-_GraphReturn\": {\r\n            \"inputs\": {\r\n                \"name\": \"GraphReturn\",\r\n                \"value\": \"@body('HTTP_-_Initial_Request')\"\r\n            },\r\n            \"runAfter\": {\r\n                \"Parse_JSON_-_Initial_Response_(for_NextLink)\": [\r\n                    \"Succeeded\"\r\n                ]\r\n            },\r\n            \"type\": \"AppendToArrayVariable\"\r\n        },\r\n        \"Condition_-_If_response_contains_@odata.nextlink\": {\r\n            \"actions\": {\r\n                \"Response_-_NextLink\": {\r\n                    \"inputs\": {\r\n                        \"body\": \"@variables('GraphReturn')\",\r\n                        \"statusCode\": 200\r\n                    },\r\n                    \"kind\": \"Http\",\r\n                    \"runAfter\": {\r\n                        \"Until_-_NextLink_is_Blank\": [\r\n                            \"Succeeded\"\r\n                        ]\r\n                    },\r\n                    \"type\": \"Response\"\r\n                },\r\n                \"Set_variable_-_NextLink_for_Next_Call\": {\r\n                    \"inputs\": {\r\n                        \"name\": \"nextlink\",\r\n                        \"value\": \"@body('Parse_JSON_-_Initial_Response_(for_NextLink)')?['@odata.nextLink']\"\r\n                    },\r\n                    \"runAfter\": {},\r\n                    \"type\": \"SetVariable\"\r\n                },\r\n                \"Until_-_NextLink_is_Blank\": {\r\n                    \"actions\": {\r\n                        \"Compose_-_Union_GraphReturn_and_the_additional_data_from_NextLink_Call\": {\r\n                            \"inputs\": \"@union(variables('GraphReturn'),body('HTTP__-_Get_NextLink_Data')['value'])\",\r\n                            \"runAfter\": {\r\n                                \"Parse_JSON_-_NextLink_Response_(for_NextLink)\": [\r\n                                    \"Succeeded\"\r\n                                ]\r\n                            },\r\n                            \"type\": \"Compose\"\r\n                        },\r\n                        \"Condition_-_If_@Odata.nextlink_is_not_blank_(Until_Loop)\": {\r\n                            \"actions\": {\r\n                                \"Set_variable_-_NextLink_to_Blank\": {\r\n                                    \"inputs\": {\r\n                                        \"name\": \"nextlink\",\r\n                                        \"value\": \"\\\"\\\"\"\r\n                                    },\r\n                                    \"runAfter\": {},\r\n                                    \"type\": \"SetVariable\"\r\n                                }\r\n                            },\r\n                            \"else\": {\r\n                                \"actions\": {\r\n                                    \"Set_variable_-_NextLink_to_@odata.nextlink\": {\r\n                                        \"inputs\": {\r\n                                            \"name\": \"nextlink\",\r\n                                            \"value\": \"@body('Parse_JSON_-_NextLink_Response_(for_NextLink)')?['@odata.nextLink']\"\r\n                                        },\r\n                                        \"runAfter\": {},\r\n                                        \"type\": \"SetVariable\"\r\n                                    }\r\n                                }\r\n                            },\r\n                            \"expression\": {\r\n                                \"and\": [\r\n                                    {\r\n                                        \"equals\": [\r\n                                            \"@body('Parse_JSON_-_NextLink_Response_(for_NextLink)')?['@odata.nextLink']\",\r\n                                            \"\"\r\n                                        ]\r\n                                    }\r\n                                ]\r\n                            },\r\n                            \"runAfter\": {\r\n                                \"Set_variable_-_GraphReturn_from_Compose_Output\": [\r\n                                    \"Succeeded\"\r\n                                ]\r\n                            },\r\n                            \"type\": \"If\"\r\n                        },\r\n                        \"HTTP__-_Get_NextLink_Data\": {\r\n                            \"inputs\": {\r\n                                \"headers\": {\r\n                                    \"Authorization\": \"bearer @{triggerBody()?['accesstoken']}\",\r\n                                    \"content-type\": \"application/json\"\r\n                                },\r\n                                \"method\": \"GET\",\r\n                                \"uri\": \"@variables('nextlink')\"\r\n                            },\r\n                            \"runAfter\": {},\r\n                            \"type\": \"Http\"\r\n                        },\r\n                        \"Parse_JSON_-_NextLink_Response_(for_NextLink)\": {\r\n                            \"inputs\": {\r\n                                \"content\": \"@body('HTTP__-_Get_NextLink_Data')\",\r\n                                \"schema\": {\r\n                                    \"properties\": {\r\n                                        \"@@odata.context\": {\r\n                                            \"type\": \"string\"\r\n                                        },\r\n                                        \"@@odata.nextLink\": {\r\n                                            \"type\": \"string\"\r\n                                        }\r\n                                    },\r\n                                    \"type\": \"object\"\r\n                                }\r\n                            },\r\n                            \"runAfter\": {\r\n                                \"HTTP__-_Get_NextLink_Data\": [\r\n                                    \"Succeeded\"\r\n                                ]\r\n                            },\r\n                            \"type\": \"ParseJson\"\r\n                        },\r\n                        \"Set_variable_-_GraphReturn_from_Compose_Output\": {\r\n                            \"inputs\": {\r\n                                \"name\": \"GraphReturn\",\r\n                                \"value\": \"@outputs('Compose_-_Union_GraphReturn_and_the_additional_data_from_NextLink_Call')\"\r\n                            },\r\n                            \"runAfter\": {\r\n                                \"Compose_-_Union_GraphReturn_and_the_additional_data_from_NextLink_Call\": [\r\n                                    \"Succeeded\"\r\n                                ]\r\n                            },\r\n                            \"type\": \"SetVariable\"\r\n                        }\r\n                    },\r\n                    \"expression\": \"@equals(variables('nextlink'), '')\",\r\n                    \"limit\": {\r\n                        \"count\": 60,\r\n                        \"timeout\": \"PT1H\"\r\n                    },\r\n                    \"runAfter\": {\r\n                        \"Set_variable_-_NextLink_for_Next_Call\": [\r\n                            \"Succeeded\"\r\n                        ]\r\n                    },\r\n                    \"type\": \"Until\"\r\n                }\r\n            },\r\n            \"else\": {\r\n                \"actions\": {\r\n                    \"Response_-_No_NextLink\": {\r\n                        \"inputs\": {\r\n                            \"body\": \"@variables('GraphReturn')\",\r\n                            \"statusCode\": 200\r\n                        },\r\n                        \"kind\": \"Http\",\r\n                        \"runAfter\": {},\r\n                        \"type\": \"Response\"\r\n                    }\r\n                }\r\n            },\r\n            \"expression\": {\r\n                \"and\": [\r\n                    {\r\n                        \"not\": {\r\n                            \"equals\": [\r\n                                \"@body('Parse_JSON_-_Initial_Response_(for_NextLink)')?['@odata.nextLink']\",\r\n                                \"\"\r\n                            ]\r\n                        }\r\n                    },\r\n                    {\r\n                        \"not\": {\r\n                            \"equals\": [\r\n                                \"@body('Parse_JSON_-_Initial_Response_(for_NextLink)')?['@odata.nextLink']\",\r\n                                \"@null\"\r\n                            ]\r\n                        }\r\n                    }\r\n                ]\r\n            },\r\n            \"runAfter\": {\r\n                \"Append_to_array_variable_-_GraphReturn\": [\r\n                    \"Succeeded\"\r\n                ]\r\n            },\r\n            \"type\": \"If\"\r\n        },\r\n        \"HTTP_-_Initial_Request\": {\r\n            \"inputs\": {\r\n                \"headers\": {\r\n                    \"Authorization\": \"bearer @{variables('AccessToken')}\",\r\n                    \"content-type\": \"application/json\"\r\n                },\r\n                \"method\": \"GET\",\r\n                \"uri\": \"@triggerBody()?['Url']\"\r\n            },\r\n            \"runAfter\": {\r\n                \"Initialize_variable_-_AccessToken\": [\r\n                    \"Succeeded\"\r\n                ]\r\n            },\r\n            \"type\": \"Http\"\r\n        },\r\n        \"Initialize_variable_-_AccessToken\": {\r\n            \"inputs\": {\r\n                \"variables\": [\r\n                    {\r\n                        \"name\": \"AccessToken\",\r\n                        \"type\": \"string\",\r\n                        \"value\": \"@{string(triggerBody()?['accesstoken'])}\"\r\n                    }\r\n                ]\r\n            },\r\n            \"runAfter\": {\r\n                \"Initialize_variable__-_NextLink\": [\r\n                    \"Succeeded\"\r\n                ]\r\n            },\r\n            \"type\": \"InitializeVariable\"\r\n        },\r\n        \"Initialize_variable_-_Graph_Return\": {\r\n            \"inputs\": {\r\n                \"variables\": [\r\n                    {\r\n                        \"name\": \"GraphReturn\",\r\n                        \"type\": \"array\"\r\n                    }\r\n                ]\r\n            },\r\n            \"runAfter\": {},\r\n            \"type\": \"InitializeVariable\"\r\n        },\r\n        \"Initialize_variable__-_NextLink\": {\r\n            \"inputs\": {\r\n                \"variables\": [\r\n                    {\r\n                        \"name\": \"nextlink\",\r\n                        \"type\": \"string\"\r\n                    }\r\n                ]\r\n            },\r\n            \"runAfter\": {\r\n                \"Initialize_variable_-_Graph_Return\": [\r\n                    \"Succeeded\"\r\n                ]\r\n            },\r\n            \"type\": \"InitializeVariable\"\r\n        },\r\n        \"Parse_JSON_-_Initial_Response_(for_NextLink)\": {\r\n            \"inputs\": {\r\n                \"content\": \"@body('HTTP_-_Initial_Request')\",\r\n                \"schema\": {\r\n                    \"properties\": {\r\n                        \"@@odata.context\": {\r\n                            \"type\": \"string\"\r\n                        },\r\n                        \"@@odata.nextLink\": {\r\n                            \"type\": \"string\"\r\n                        }\r\n                    },\r\n                    \"type\": \"object\"\r\n                }\r\n            },\r\n            \"runAfter\": {\r\n                \"HTTP_-_Initial_Request\": [\r\n                    \"Succeeded\"\r\n                ]\r\n            },\r\n            \"type\": \"ParseJson\"\r\n        }\r\n    },\r\n    \"contentVersion\": \"1.0.0.0\",\r\n    \"outputs\": {},\r\n    \"parameters\": {},\r\n    \"triggers\": {\r\n        \"manual\": {\r\n            \"inputs\": {\r\n                \"schema\": {\r\n                    \"properties\": {\r\n                        \"Url\": {\r\n                            \"type\": \"string\"\r\n                        },\r\n                        \"accesstoken\": {\r\n                            \"type\": \"string\"\r\n                        }\r\n                    },\r\n                    \"type\": \"object\"\r\n                }\r\n            },\r\n            \"kind\": \"Http\",\r\n            \"type\": \"Request\"\r\n        }\r\n    }\r\n}",
    "logicAppDefinition": "[json(variables('$fxv#0'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "triggers": {
            "http_request": {
              "type": "request",
              "kind": "http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Url": {
                      "type": "string",
                      "accesstoken": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "Url",
                    "accesstoken"
                  ]
                }
              },
              "operationOptions": "EnableSchemaValidation"
            }
          },
          "actions": {
            "Initialize_variable_-_Graph_Return": {
              "inputs": {
                "variables": [
                  {
                    "name": "GraphReturn",
                    "type": "array"
                  }
                ]
              },
              "runafter": {},
              "type": "InitializeVariable"
            },
            "Initialize_variable_-_NextLink": {
              "inputs": {
                "variables": [
                  {
                    "name": "nextlink",
                    "type": "string"
                  }
                ]
              },
              "runafter": {},
              "type": "InitializeVariable"
            },
            "Initialize_variable_-_AccessToken": {
              "inputs": {
                "variables": [
                  {
                    "name": "AccessToken",
                    "type": "string",
                    "value": "@{string(triggerBody()?['accesstoken'])}"
                  }
                ]
              },
              "runafter": {},
              "type": "InitializeVariable"
            },
            "HTTP_-_Initial_Request": {
              "inputs": {
                "headers": {
                  "Authorization": "bearer @{variables('AccessToken')}",
                  "content-type": "application/json"
                },
                "method": "GET",
                "uri": "@triggerBody()?['Url']"
              },
              "runafter": {
                "Initialize_variable_-_AccessToken": [
                  "Succeeded"
                ],
                "Initialize_variable_-_Graph_Return": [
                  "Succeeded"
                ],
                "Initialize_variable_-_NextLink": [
                  "Succeeded"
                ]
              },
              "type": "http"
            },
            "Parse_JSON_-_Initial_Response_(for_NextLink)": {
              "inputs": {
                "content": "@body('HTTP_-_Initial_Request')",
                "schema": {
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "@@odata.nextLink": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP_-_Initial_Request": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Append_to_array_variable_-_GraphReturn": {
              "inputs": {
                "name": "GraphReturn",
                "value": "@body('HTTP_-_Initial_Request')"
              },
              "runAfter": {
                "Parse_JSON_-_Initial_Response_(for_NextLink)": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable"
            },
            "Condition_-_If_response_contains_@odata.nextlink": {
              "actions": {
                "Response_-_NextLink": {
                  "inputs": {
                    "body": "@variables('GraphReturn')",
                    "statusCode": 200
                  },
                  "kind": "http",
                  "runAfter": {
                    "Until_-_NextLink_is_Blank": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                },
                "Set_variable_-_NextLink_for_Next_Call": {
                  "inputs": {
                    "name": "nextlink",
                    "value": "@body('Parse_JSON_-_Initial_Response_(for_NextLink)')?['@odata.nextLink']"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                },
                "Until_-_NextLink_is_Blank": {
                  "actions": {
                    "Compose_-_Union_GraphReturn_and_the_additional_data_from_NextLink_Call": {
                      "inputs": "@union(variables('GraphReturn'),body('HTTP__-_Get_NextLink_Data')['value'])",
                      "runAfter": {
                        "Parse_JSON_-_NextLink_Response_(for_NextLink)": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose"
                    },
                    "Condition_-_If_@Odata.nextlink_is_not_blank_(Until_Loop)": {
                      "actions": {
                        "Set_variable_-_NextLink_to_Blank": {
                          "inputs": {
                            "name": "nextlink",
                            "value": "''"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "else": {
                        "actions": {
                          "Set_variable_-_NextLink_to_@odata.nextlink": {
                            "inputs": {
                              "name": "nextlink",
                              "value": "@body('Parse_JSON_-_NextLink_Response_(for_NextLink)')?['@odata.nextLink']"
                            },
                            "runAfter": {},
                            "type": "SetVariable"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Parse_JSON_-_NextLink_Response_(for_NextLink)')?['@odata.nextLink']",
                              ""
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Set_variable_-_GraphReturn_from_Compose_Output": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "HTTP__-_Get_NextLink_Data": {
                      "inputs": {
                        "headers": {
                          "Authorization": "bearer @{triggerBody()?['accesstoken']}",
                          "content-type": "application/json"
                        },
                        "method": "GET",
                        "uri": "@variables('nextlink')"
                      },
                      "runAfter": {},
                      "type": "Http"
                    },
                    "Parse_JSON_-_NextLink_Response_(for_NextLink)": {
                      "inputs": {
                        "content": "@body('HTTP__-_Get_NextLink_Data')",
                        "schema": {
                          "properties": {
                            "@@odata.context": {
                              "type": "string"
                            },
                            "@@odata.nextLink": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "runAfter": {
                        "HTTP__-_Get_NextLink_Data": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson"
                    },
                    "Set_variable_-_GraphReturn_from_Compose_Output": {
                      "inputs": {
                        "name": "GraphReturn",
                        "value": "@outputs('Compose_-_Union_GraphReturn_and_the_additional_data_from_NextLink_Call')"
                      },
                      "runAfter": {
                        "Compose_-_Union_GraphReturn_and_the_additional_data_from_NextLink_Call": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "expression": "@equals(variables('nextlink'), '')",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "runAfter": {
                    "Set_variable_-_NextLink_for_Next_Call": [
                      "Succeeded"
                    ]
                  },
                  "type": "Until"
                }
              },
              "else": {
                "actions": {
                  "Response_-_No_NextLink": {
                    "inputs": {
                      "body": "@variables('GraphReturn')",
                      "statusCode": 200
                    },
                    "kind": "Http",
                    "runAfter": {},
                    "type": "Response"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_JSON_-_Initial_Response_(for_NextLink)')?['@odata.nextLink']",
                        ""
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_JSON_-_Initial_Response_(for_NextLink)')?['@odata.nextLink']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "runAfter": {
                "Append_to_array_variable_-_GraphReturn": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          }
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "logicAppURL": {
      "type": "string",
      "value": "[listCallbackURL(format('{0}/triggers/http_request', resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))), '2017-07-01').value]"
    }
  }
}
